# Python
*.pyc
__pycache__/
.venv/

# OS
.DS_Store

# Project
xkeen-ui/BUILD.json

# Node / frontend
node_modules/

# Frontend build
xkeen-ui/static/vendor/
xkeen-ui/static/frontend-build/

# Local packaging artifacts
dist/
package-root/
